<div>
  <p>1. Add a button which says 'Display Details"<br>
     2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')<br>
     3. Toggle the displaying of that paragraph with the butoon created in the first step. <br>
     4. Log all button clicks in an array and output hat array below the secret paragraph (maybe log a timestamp or simply an incrementing number)
     5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)
  </p>
</div>
<hr>
<div>
<p>
  <button class="btn btn-primary" (click)="hideParagraph()">Display Details</button>
</p>
</div>
<div>
  <p [hidden]="isHidden">
    This is a secret paragraph
  </p>
</div>
<div *ngFor="let click of logClickArray"
      [ngStyle]="{backgroundColor:fifthRowStyle(click)}"
      [ngClass]="{'white': fifthRowClass(click)}">
 <p> {{click}}
  </p>
</div>